<launch>
    <node
            pkg="external_calibration"
            type="aruco_camera.py"
            name="aruco_camera_node"
            output="screen">
    </node>
     <node
             pkg="external_calibration"
             type="aruco_arm.py"
             name="aruco_hand_node"
             output="screen">
     </node>
     <node
             pkg="external_calibration"
             type="external_camera.py"
             name="external_camera_node"
             output="screen">
     </node>

</launch>