<launch>
    <node
            pkg="camera_calibration"
            type="eye_to_hand_calibration.py"
            name="hand_eye_node"
            output="screen">

        <param name="config" value="$(arg config)"/>
    </node>

    <!--        <node-->
    <!--                pkg="camera_calibration"-->
    <!--                type="external_camera_estimate_broadcaster.py"-->
    <!--                name="external_camera_estimate_broadcaster_node"-->
    <!--                output="screen">-->
    <!--        </node>-->

    <arg name="config" default="default_eye_to_hand"/>

</launch>
