<launch>

    <arg name="config" default="default_eye_in_hand"/>
    <node
            pkg="camera_calibration"
            type="internal_calibration.py"
            name="internal_calibration_node"
            output="screen">

        <param name="config" value="$(arg config)"/>

    </node>


</launch>
