<launch>

    <!--    <node-->
    <!--            pkg="camera_calibration"-->
    <!--            type="realsense_video_topic_publisher_script.py"-->
    <!--            name="realsense_video_topic_publisher_node"-->
    <!--            output="screen">-->
    <!--    </node>-->

    <node
            pkg="camera_calibration"
            type="internal_calibration.py"
            name="internal_calibration_node"
            output="screen">

        <param name="config" value="$(arg config)"/>

    </node>

    <arg name="config" default="default_eye_in_hand"/>
</launch>
