<launch>
    <arg name="find_pose" default="true"/>
    <arg name="camera_topic" default="/cam_top/color/image_raw"/>
    <node
            pkg="object_finder"
            type="hsv_cubes_finder.py"
            name="object_detection"
            output="screen">

        <param name="find_pose" value="$(arg find_pose)"/>
        <param name="camera_topic" value="$(arg camera_topic)"/>

    </node>

</launch>